header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}

span p {
    background-color: var(--high-light-color);
    font-size: 1.5rem;
    color: var(--background-color);
    margin-right: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: .5rem;
}